backend_img             = "collectionspace/collectionspace:latest"
cluster_name            = "cspace-cluster"
container_port          = 8180
domain                  = "collectionspace.org"
efs_name                = "cspace-efs"
extra_hosts             = []
lb_name                 = "cspace-lb"
profiles                = ["anthro", "bonsai", "core", "fcart", "herbarium", "lhmc", "materials", "publicart"]
security_group_name     = "cspace-security-group"
sns_topic_name          = "sns-alert-topic"
subnet_type             = "Private"
vpc_name                = "cspace-vpc"
zone_alias              = "test"
